#! This is an example environment configuration file.
#! Copy this file to .env and modify the values as needed.

# Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=mydatabase
POSTGRES_PORT=5432
POSTGRES_DB_HOST=localhost
